.fact {
  line-height: 3rem;
}

.fact h2 {
  font-family: var(--serif-font);
  font-weight: 800;
  font-size: 2.25rem;
  padding-bottom: 0;
}

.fact h2::before {
  content: '"';
}

.fact h2::after {
  content: '"';
}

.fact p {
  font-family: var(--serif-font);
  padding-top: 0;
  text-align: left;
}

.fact p a {
  color: var(--faded-text);
}
