/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --serif-font: "Merriweather", serif;

  --sans-serif-font: "Poppins", sans-serif;
  --background-color: #fcfcfc;
  --text-color: #1d2d35;
  --faded-text: #878e92;
}

body {
  background-color: var(--background-color);
}

.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: var(--sans-serif-font);
  color: var(--text-color);
}

.italic {
  font-style: italic;
}
