h1 {
  font-weight: 800;
}

.header {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.header-fotd p {
  text-align: left;
  line-height: 1;
  color: var(--faded-text);
  font-size: 0.75rem;
}

.fotd-fact {
  font-weight: 800;
}

.fotd-fact::before {
  content: '"';
}

.fotd-fact::after {
  content: '"';
}

.header-fotd a {
  color: var(--faded-text);
  font-size: 0.5rem;
}

.smaller {
  font-size: 1.25rem;
}
